@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  @apply overflow-hidden h-full;
}

body {
  @apply overflow-x-hidden min-h-screen h-screen bg-gradient-to-r from-white via-gray-100 to-gray-200;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

#modal {
  background-color: rgba(120, 113, 108, .7);
}

.fade-enter-active {
  @apply animate-fade-in-down;
}

.fade-leave-active {
  @apply animate-fade-out-down;
}


.table th,
.table td {
  @apply border border-gray-600 rounded-sm;
}

.table th {
  @apply text-gray-700 bg-white;
}

.table tbody tr {
  @apply font-Poppins;
}

.table tbody tr:nth-child(2n+1) {
  @apply bg-green-100;
}

.table tbody tr:nth-child(2n) {
  @apply bg-white;
}

.table {
  @apply table-fixed mx-auto overflow-hidden lg:border-collapse;
}

.table tbody tr td {
  @apply w-full font-Poppins text-center truncate cursor-default;
}